In [19]:
import pandas as pd
import numpy as np
from pyti.accumulation_distribution import accumulation_distribution as ad
from pyti.aroon import aroon_up
from pyti.aroon import aroon_down
from pyti.average_true_range import average_true_range as atr
from pyti.chande_momentum_oscillator import chande_momentum_oscillator as cmo

## Data Preparation

In [4]:
df = pd.read_csv('MLmodel.csv')

In [6]:
df.head()

,date,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty,accum_dist
0,2014-01-02 22:00:00,174.400,172.347,174.836,171.825,174.435,172.503,174.862,171.857,215078,0.000000
1,2014-01-03 22:00:00,172.347,172.071,172.498,171.036,172.503,172.198,172.526,171.075,198734,108885.961406
2,2014-01-05 22:00:00,172.071,171.824,172.086,171.774,172.198,171.916,172.224,171.876,1311,107876.340716
3,2014-01-06 22:00:00,171.824,170.962,172.228,170.399,171.916,171.000,172.250,170.427,234773,20689.658873
4,2014-01-07 22:00:00,170.962,171.524,171.697,170.825,171.000,171.579,171.722,170.849,215445,165553.593581

In [4]:
df.tail()

,date,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
1307,2018-06-01 21:00:00,144.635,146.092,146.296,144.481,144.759,146.223,146.320,144.500,292351
1308,2018-06-19 21:00:00,146.408,144.945,146.463,144.379,146.453,145.023,146.505,144.399,327701
1309,2018-06-27 21:00:00,145.451,144.545,145.654,144.518,145.614,144.632,145.678,144.532,376955
1310,2018-06-28 21:00:00,144.545,144.475,144.677,143.762,144.632,144.534,144.719,143.782,733404
1311,2018-07-01 21:00:00,145.818,145.760,145.962,145.465,145.975,145.893,146.020,145.550,895

In [ ]:
#add feature columns here to get a new df, then split data into training and testing

In [6]:
#train = df[(pd.to_datetime(df.date) < pd.to_datetime('2017-07-01')) & (pd.to_datetime(df.date) >= pd.to_datetime('2014-01-01'))]

#test = df[pd.to_datetime(df.date) >= pd.to_datetime('2017-07-01')]

## Indicators

In [5]:
# Accumulation distribution
df['accum_dist'] = ad(df['askclose'], df['askhigh'], df['asklow'], df['tickqty'])

In [13]:
# Aroon
df['aroon_up'] = aroon_up(df['askclose'], 7)
df['aroon_down'] = aroon_down(df['askclose'], 7)

KeyError: 0

In [15]:
# Averagre true range
df['atr'] = atr(df['askclose'], 7)

In [20]:
# Chande momentum oscillator
df['cmo'] = cmo(df['askclose'], 7)